<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="catan.avatar.matt.avatarcatan22">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RulesActivity"
            android:label="@string/title_activity_rules"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="catan.avatar.matt.avatarcatan22.MainMenuActivity" />
        </activity>
        <activity
            android:name=".UnitsActivity"
            android:label="@string/title_activity_units"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="catan.avatar.matt.avatarcatan22.MainMenuActivity" />
        </activity>
        <activity
            android:name=".OffensiveTeamChoiceActivity"
            android:label="@string/title_activity_offensive_team_choice"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="catan.avatar.matt.avatarcatan22.MainMenuActivity" />
        </activity>
        <activity
            android:name=".LoadBattleActivity"
            android:label="@string/title_activity_load_battle"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="catan.avatar.matt.avatarcatan22.MainMenuActivity" />
        </activity>
        <activity
            android:name=".TimerActivity"
            android:label="@string/title_activity_timer"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="catan.avatar.matt.avatarcatan22.MainMenuActivity" />
        </activity>
    </application>

</manifest>